{% extends "base.html" %}
{% import "components/macros.html" as macros %}

{% block title %}Inicio | Organización FEM{% endblock %}

{% block content %}
    <!-- Franja Narrativa Principal con Patrón Layered Reveal (5 Escenas) -->
    {% include "components/layered_reveal.html" %}

    <!-- Secciones Continuas de Cierre (Cifras de la Red) -->
    {% include "home/_numeros_fem.html" %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/layered-reveal.js') }}?v=1.0.0"></script>
{% endblock %}
